@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

header {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    color: #9767A9;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
}

li:hover {
    color: #835694;
    cursor: pointer;
    font-weight: bold;
}

.main-logo {
    margin-left: 35px;
}

.navbar-top {
    display: flex;
    justify-content: space-around;
    width: 45vw;
    align-items: center;
}

.search-media {
    /* margin-right: 6.5vw; */
    display: flex;
}

.search-bar {
    border-radius: 50px;
    border: solid #9767A9;
}

.search-circle {
    outline: none;
}

.social-media {
    margin-right: 70px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

/* 
!! TO-DO: descobrir como faz pra deixar a barra de pesquisa redondinha!! #search-bar {
    border-radius: 0 50% 0 30%;
} */

.search-media img {
    padding: 5px;
}

.main-img {
    position: relative;
    width: 100%;
    background-image: url("assets/cabeludo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
}

.main-text {
    color: white;
}

.main-text h1 {
    position: absolute;
    top: 35vh;
    left: 15vw;
    font-size: 65px;
    width: 250px;
}

.main-text h2 {
    position: absolute; 
    top: 47vh;
    left: 65vw;
    width: 300px;
    font-weight: lighter;
}

.hair-tips {
    width: 100%;
    height: 35vh;
    position: relative;
    background-color: #9767A9;
    color: white;
}

.seven-steps {
    position: absolute;
    width: 770px;
    top: 5vh;
    left: 10vw;
    font-size: 2em;
}

.how-to {
    font-weight: lighter;
    position: absolute;
    width: 550px;
    height: 400px;
    left: 62vw; 
    top: 3vh;
}

.gallery {
    position: relative;
    border: solid black;
    height: 190vw;
    margin-bottom: 5vw;
}

.gallery img {
    width: 720px;
    height: 520px;
}

.gallery-img1 {
    position: absolute;
    z-index: 0;
    left: 5vw;
    top: -5vw;
}

.gallery-text1 {
    padding: 40px 20px 0 20px;
    background-color: #9767A9;
    color: white;
    position: absolute;
    left: 13vw;
    top: 20vw;
    height: 400px;
    width: 480px;
}

.gallery-text1 h2 {
    margin-bottom: 2vw;
}

.gallery-img2 {
    position: absolute;
    z-index: 0;
    left: 51vw;
    top: 11vw;
}

.gallery-text2 {
    padding: 40px 20px 0 20px;
    background-color: #9767A9;
    color: white;
    position: absolute;
    left: 57.9vw;
    top: 35vw;
    height: 400px;
    width: 480px;
}

.gallery-text2 h2 {
    margin-bottom: 2vw;
}

.gallery-img3 {
    position: absolute;
    z-index: 0;
    top: 48vw;
    left: 5vw;
}

.gallery-text3 {
    padding: 40px 20px 0 20px;
    position: absolute;
    background-color: #9767A9;
    color: white;
    height: 275px;
    width: 480px;
    top: 70vw;
    left: 13vw;
}

.gallery-text3 h2 {
    margin-bottom: 2vw;
}

.gallery-img4 {
    position: absolute;
    z-index: 0;
    top: 65vw;
    left: 51vw;

}

.gallery-text4 {
    padding: 40px 20px 0 20px;
    position: absolute;
    background-color: #9767A9;
    color: white;
    height: 350px;
    width: 480px;
    top: 90vw;
    left: 57.9vw;
}

.gallery-text4 h2 {
    margin-bottom: 2vw;
}

.gallery-img5 {
    position: absolute;
    z-index: 0;
    top: 98vw;
    left: 5vw;
}

.gallery-text5 {
    padding: 40px 20px 0 20px;
    position: absolute;
    background-color: #9767A9;
    height: 370px;
    width: 480px;
    color: white;
    left: 13vw;
    top: 120vw;
}

.gallery-text5 h2 {
    margin-bottom: 2vw;
}

.gallery-img6 {
    position: absolute;
    z-index: 0;
    top: 115vw;
    left: 51vw;
}

.gallery-text6 {
    padding: 40px 20px 0 20px;
    position: absolute;
    background-color: #9767A9;
    color: white;
    height: 300px;
    width: 480px;
    top: 137vw;
    left: 57.9vw;
}

.gallery-text6 h2 {
    margin-bottom: 2vw;
}

.gallery-img7 {
    position: absolute;
    z-index: 0;
    top: 149vw;
    left: 5vw;
}

.gallery-text7 {
    padding: 40px 20px 0 20px;
    position: absolute;
    background-color: #9767A9;
    height: 300px;
    width: 480px;
    color: white;
    left: 13vw;
    top: 173vw;
}

.gallery-text7 h2 {
    margin-bottom: 2vw;
}

.cacho {
    position: absolute;
    top: 159vw;
    left: 58vw;
    
}

.cacho img {
    width: 30vw;
}

.bottom-gallery {
    display: flex;
    border: solid yellow;
    padding-left: 4.2vw;
}

.column-1 {
    display: flex;
    flex-direction: column;
}

.column-1 img {
    width: 18vw;
    margin-bottom: 10px;
    border: solid black;
}

.column-2 {
    display: flex;
    flex-direction: column;
}

.column-2 img {
    height: 25vh;
    width: 13vw;
    /* margin: 10px; */
}